Client/DownloadManager - Copy - Working version/DownloadManager/Service References/DownloadManagerService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DownloadDataProviderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IDownloadDataProviderService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDownloadDataProviderService_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IDownloadDataProviderService_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IDownloadDataProviderService_GetInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInformation" />
  </wsdl:message>
  <wsdl:message name="IDownloadDataProviderService_GetInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IDownloadDataProviderService_GetDownloadInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDownloadInformation" />
  </wsdl:message>
  <wsdl:message name="IDownloadDataProviderService_GetDownloadInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDownloadInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IDownloadDataProviderService_GetFileList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileList" />
  </wsdl:message>
  <wsdl:message name="IDownloadDataProviderService_GetFileList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileListResponse" />
  </wsdl:message>
  <wsdl:message name="IDownloadDataProviderService_IsValidLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidLogin" />
  </wsdl:message>
  <wsdl:message name="IDownloadDataProviderService_IsValidLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IDownloadDataProviderService_RegisterNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNewUser" />
  </wsdl:message>
  <wsdl:message name="IDownloadDataProviderService_RegisterNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNewUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IDownloadDataProviderService">
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IDownloadDataProviderService/GetCategories" message="tns:IDownloadDataProviderService_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDownloadDataProviderService/GetCategoriesResponse" message="tns:IDownloadDataProviderService_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IDownloadDataProviderService/GetInformation" message="tns:IDownloadDataProviderService_GetInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDownloadDataProviderService/GetInformationResponse" message="tns:IDownloadDataProviderService_GetInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDownloadInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IDownloadDataProviderService/GetDownloadInformation" message="tns:IDownloadDataProviderService_GetDownloadInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDownloadDataProviderService/GetDownloadInformationResponse" message="tns:IDownloadDataProviderService_GetDownloadInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDownloadDataProviderService/GetFileList" message="tns:IDownloadDataProviderService_GetFileList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDownloadDataProviderService/GetFileListResponse" message="tns:IDownloadDataProviderService_GetFileList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsValidLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IDownloadDataProviderService/IsValidLogin" message="tns:IDownloadDataProviderService_IsValidLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDownloadDataProviderService/IsValidLoginResponse" message="tns:IDownloadDataProviderService_IsValidLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDownloadDataProviderService/RegisterNewUser" message="tns:IDownloadDataProviderService_RegisterNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDownloadDataProviderService/RegisterNewUserResponse" message="tns:IDownloadDataProviderService_RegisterNewUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IDownloadDataProviderService" type="tns:IDownloadDataProviderService">
    <wsp:PolicyReference URI="#WSHttpBinding_IDownloadDataProviderService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategories">
      <soap12:operation soapAction="http://tempuri.org/IDownloadDataProviderService/GetCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInformation">
      <soap12:operation soapAction="http://tempuri.org/IDownloadDataProviderService/GetInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDownloadInformation">
      <soap12:operation soapAction="http://tempuri.org/IDownloadDataProviderService/GetDownloadInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <soap12:operation soapAction="http://tempuri.org/IDownloadDataProviderService/GetFileList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidLogin">
      <soap12:operation soapAction="http://tempuri.org/IDownloadDataProviderService/IsValidLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterNewUser">
      <soap12:operation soapAction="http://tempuri.org/IDownloadDataProviderService/RegisterNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DownloadDataProviderService">
    <wsdl:port name="WSHttpBinding_IDownloadDataProviderService" binding="tns:WSHttpBinding_IDownloadDataProviderService">
      <soap12:address location="http://91.229.79.95:808/DownloadDataProviderService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://91.229.79.95:808/DownloadDataProviderService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>